* {
    box-sizing: border-box;
  }

body {
    background-image: url('../images/darkness.png');
    font-family: 'Righteous', cursive;
}

body h3 {
    font-size: 1.3em;
}

body h4 {
    font-size: 1em;
}

body h2 {
    font-size: 1.5em;
}

header {
    position: relative;
    top: 0px;
    margin: 0px;
    width: 100%;
   
    height: 100px;

}

.container {
    width: 960px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    clear: both;
}

.container h1 {
    font-size: 40px;
    padding-top: 35px;
    color: #1FF30C;
    animation-name: color-change;
    animation-duration: 500s;
}

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }

#jukebox-main {
    width: 960px;
    background: white;
    height: 580px;
    margin-top: 30px;
    border: 10px solid #1FF30C;
    background-image: url('../images/darkbrick.png');
    border-radius: 25px;
    animation-name: border-change;
    animation-duration: 500s;
    
    
}
.noborder { border: 0; }
#jukebox-main img {
    height: 500px;
    width: auto;
    right: 200px;
    float: left;
    margin-top: 30px;
}
.body-game {
    position: absolute;
    margin-left: 450px;
    margin-top: 70px;
    width: 450px;
    height: 440px;
    float: right;
    padding-top: 200px;
    border: 3px solid pink;
    background: #F9F9FF;
    border-radius: 4px;
    animation-name: border-change;
    animation-duration: 500s;

}
#game-zone {
    position: relative;
    bottom: 100px;
}
button {
    width: 28px;
    height: 38px;
    margin: 1px;
    text-align: center;
}
#start-game {
    width: 40px;
    position: relative;
    bottom: 60px;
}

#start-game button {
    text-align: center;
}
#current-song {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    
}

#hintbox {
    position: relative;
    width: 100px;
    height: auto;
    right: 10px;
    display: inline-block;
}
#hintbox button {
    width: auto;
}
#guess-box {
    position: relative;
    display: inline-block;
    float: left;
    top: 40px;
    visibility: hidden;
}
#wins-box {
    position: relative;
    display: inline-block;
    float: right;
    top: 40px;
    visibility: hidden;
}

#box button {
    visibility: hidden;
}
#hintbox button {
    visibility: hidden;
}

#message {
    position: relative;
    bottom: 120px;
    visibility: show;
}
@keyframes border-change {
    5% {border-color: yellow}
    10% {border-color: rgb(231, 3, 231)}
    15% {border-color: rgb(255, 0, 200)}
    20% {border-color: #1FF30C}
    25% {border-color: blue}
    30% {border-color: rgb(231, 3, 231)}
    35% {border-color: yellow}
    40% {border-color: rgb(255, 0, 200)}
    45% {border-color: blue}
    50%{border-color:#1FF30C}
    55% {border-color: rgb(231, 3, 231)}
    60% {border-color: yellow}
    65% {border-color: rgb(255, 0, 200)}
    70% {border-color: rgb(231, 3, 231)}
    75% {border-color: rgb(0, 17, 255)}
    80% {border-color: #1FF30C}
    85% {border-color: yellow}
    90% {border-color: pink}
    95% {border-color: blue}
    100%{border-color: #1FF30C}
}

@keyframes color-change {
    5% {color: yellow}
    10% {color: rgb(231, 3, 231)}
    15% {color: rgb(255, 0, 200)}
    20% {color: #1FF30C}
    25% {color: blue}
    30% {color: rgb(231, 3, 231)}
    35% {color: yellow}
    40% {color: rgb(255, 0, 200)}
    45% {color: blue}
    50%{color:#1FF30C}
    55% {color: rgb(231, 3, 231)}
    60% {color: yellow}
    65% {color: rgb(255, 0, 200)}
    70% {color: rgb(231, 3, 231)}
    75% {color: rgb(0, 17, 255)}
    80% {color: #1FF30C}
    85% {color: yellow}
    90% {color: pink}
    95% {color: blue}
    100%{color: #1FF30C}
}
